:root {
  scroll-behavior: auto!important;
}

#hero{
  height: 78vh;
}

.bi-close {
  position: absolute;
  top:-10px;
  right: -10px;
}

.dropzone {
    transition: background-color 0.25s ease-in;
}

.dropzone:hover {
    background-color: lightgray;
}

.dz-image {
    border-radius: 0 !important;
}

.dz-preview {
    border: 1px lightgray solid;
    border-radius: 5%;
}

.collapsible {
    cursor: pointer;
}

.dropzone .bi-cloud-arrow-up-fill {
    transition: font-size 0.15s ease-out;
}

.dropzone:hover .bi-cloud-arrow-up-fill {
    font-size: calc(1.5rem + 1.7vw);
}


.note-title:focus {
  background-color: var(--bs-body-bg);
  border-bottom: 1px solid var(--color-orange) !important;
  outline: 0;
  box-shadow: 0 0.25rem 0 rgba(var(--color-orange-rgb), 0.25);
}

.note-title {
  font-size: 20px;
  font-weight: bold;
  color: var(--color-orange);
}