nav a {
  font-weight: bold;
  color: #723d00 !important;
}

a.active {
  font-weight: normal;
  color: white !important;
  background-color: #e57e00 !important;
}

footer p, a, hr {
  color: #723d00;
}

a:hover {
  cursor: pointer;
  opacity: 90%;
}

.form-control:focus, .form-select:focus {
  border-color: #e57e00;
  box-shadow: 0 0 0 0.2rem #fae6c4;
}

.hero-svg {
  position: fixed;
  width: 100%;
  height: 100% !important;
  z-index: -1;
}

.preloader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fae6c4; /* You can adjust the background color and opacity */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10000;
}


#navbar {
  transition: all 0.3s ease-in-out;
}

.navbar-collapse.collapsing, .navbar-collapse.collapse.show {
  background-color: white;
  border-radius: 10px;
}

.loader {
  width: 60px;
  height: 60px;
  margin: 30px auto 0;
  position: relative;
  transform: rotate(45deg) translate3d(0, 0, 0);
  animation: loader 1.2s infinite ease-in-out;
}

.loader span {
  background: #EE4040;
  width: 30px;
  height: 30px;
  display: block;
  position: absolute;
  animation: loaderBlock 1.2s infinite ease-in-out both;
}

.loader span:nth-child(1) {
  top: 0;
  left: 0;
}

.loader span:nth-child(2) {
  top: 0;
  right: 0;
  animation: loaderBlockInverse 1.2s infinite ease-in-out both;
}

.loader span:nth-child(3) {
  bottom: 0;
  left: 0;
  animation: loaderBlockInverse 1.2s infinite ease-in-out both;
}

.loader span:nth-child(4) {
  bottom: 0;
  right: 0;
}

@keyframes loader {
  0%, 10%, 100% {
    width: 60px;
    height: 60px;
  }
  65% {
    width: 120px;
    height: 120px;
  }
}

@keyframes loaderBlock {
  0%, 30% {
    transform: rotate(0);
  }
  55% {
    background: #F37272;
  }
  100% {
    transform: rotate(90deg);
  }
}

@keyframes loaderBlockInverse {
  0%, 20% {
    transform: rotate(0);
  }
  55% {
    background: #F37272;
  }
  100% {
    transform: rotate(-90deg);
  }
}
