body {
    font-family: 'Bubblegum Sans', sans-serif;
}


.bg-orange {
    background-color: #e57e00 !important;
}

.bg-lightorange {
    background-color: #fff4e1 !important;
}

.text-darkorange {
    color: #723d00 !important;
}

.text-orange {
    color: #e57e00 !important;;
}

.text-multi-truncate {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
}

.bi-hover {
    transition: font-size 0.15s ease-out;
}

.bi-hover:hover {
    font-size: calc(1.3rem + .6vw) !important;
}

.text-hover-underline {
    text-decoration: none !important;
}

.text-hover-underline:hover {
    text-decoration: underline !important;
}

svg {
    z-index: 99;
    background-size: cover;
    width: 100%;
    display: block;
}
