/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.hero {
  overflow: visible;
  width: 100%;
  position: relative;
  padding: 60px 0 0 0;
}

.hero.diagonal-hero-bg:before {
  content: "";
  position: absolute;
  top: 0;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
  background: linear-gradient(to right, rgb(254, 253, 112) 1.7%, rgb(248, 143, 111)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 100%;
  height: 85%;
}

.hero.diagonal-hero-bg.animate:before {
  animation: clipPathAnimation 1s ease-out forwards; /* Set animation properties when 'animate' class is added */
}

@keyframes clipPathAnimation {
  0% {
    clip-path: polygon(0 0, 100% 0, 100% 0%, 0 0%);
  }
  100% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
  }
}

.hero figure {
  background-color: rgba(255, 255, 255, 0.41);
  border: 10px solid rgb(251, 145, 71);
}

@media (min-width: 1365px) {
  .hero.diagonal-hero-bg:before {
    height: 85%;
  }
}

@media (max-width: 1364px) {
  .hero.diagonal-hero-bg:before {
    height: 90%;
  }
}

@media (max-width: 1024px) {
  .hero.diagonal-hero-bg:before {
    height: 100%;
  }
}


.hero-curve-right {
  border-bottom-right-radius: 150%;
  background: linear-gradient(to right, rgb(254, 253, 112) 1.7%, rgb(248, 143, 111));
}

.hero-curve-right:before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgb(254, 253, 112) 1.7%, rgb(248, 143, 111)); /* Your yellow background color */
  z-index: -1; /* Place the yellow background behind the .hero element */;
}

.hero-curve-left {
  border-bottom-left-radius: 90%;
  background: linear-gradient(to right, rgb(254, 253, 112) 1.7%, rgb(248, 143, 111));
}

.hero-curve-left:before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgb(254, 253, 112) 1.7%, rgb(248, 143, 111)); /* Your yellow background color */
  z-index: -1; /* Place the yellow background behind the .hero element */
}

@media (min-width: 1365px) {
  .hero {
    background-attachment: fixed;
  }
}

.hero h2 {
  font-size: 80px;
  font-weight: 700;
  margin-bottom: 20px;
}

.hero p {
  font-weight: 400;
  margin-bottom: 30px;
}

@media (max-width: 640px) {
  .hero h2 {
    font-size: 36px;
  }
}

.hero .icon-boxes {
  z-index: 2;
  padding-bottom: 60px;
}

.hero .icon-box {
  padding: 60px 30px;
  overflow: hidden;
  background: rgb(251, 145, 71);
  box-shadow: 0 0 29px 0 rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease-in-out;
  border-radius: 8px;
  z-index: 1;
  height: 100%;
  width: 100%;
  text-align: center;
}

.hero .icon-box .title {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 24px;
}

.hero .icon-box .title a {
  color: #fff;
  text-decoration: none;
  border-bottom: 2px solid white;
  transition: 0.3s;
}

.hero .icon-box .icon {
  margin-bottom: 20px;
  padding-top: 10px;
  display: inline-block;
  transition: all 0.3s ease-in-out;
}

.hero .icon-box:hover {
  transform: scale(1.05);
  background: orange;
}

.hero .icon-box:hover .title a,
.hero .icon-box:hover .icon {
  color: #fff;
}

.wave {
  float: left;
  margin: 20px;
  animation: wave ease-in-out 0.5s infinite alternate;
  transform-origin: center -36px;
}

.wave:hover {
  animation-play-state: paused;
  cursor: pointer;
  transform: scale(1.1);
}

.wave img {
  display: block;
  width: 200px;
  height: 250px;
}

.wave figcaption {
  text-align: center;
}

.wave:after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  border: 1.5px solid #ffffff;
  top: -10px;
  left: 50%;
  border-bottom: none;
  border-right: none;
  transform: rotate(35deg);
}

.wave:before {
  content: '';
  position: absolute;
  top: -23px;
  left: 50%;
  display: block;
  height: 44px;
  width: 47px;
  background-image: url(https://cdn.hashnode.com/res/hashnode/image/upload/v1602040503586/FW6g79WBY.png);
  background-size: 20px 20px;
  background-repeat: no-repeat;
  z-index: 16;
}

@keyframes wave {
  0% {
    transform: rotate(3deg);
  }
  100% {
    transform: rotate(-3deg);
  }
}
