#hero {
  height: 78vh;
}

section {
  margin: 3.5% 0 !important;
}

.section-content {
  box-shadow: var(--bs-box-shadow) !important;
  border-radius: var(--bs-border-radius-sm) !important;
  min-height: 400px !important;
}

.carousel-item > img {
  margin-top: 20px;
}

.carousel-item {
  text-align: center;
}

.carousel-item > img {
  object-fit: contain;
}

.carousel-caption {
  z-index: 1;
  position: relative;
  top: 0;
  left: 0;
  text-align: center;
}

.carousel-caption .rounded-pill {
  width: min-content;
}