.carousel-item > img {
    height: 400px !important;
}

.carousel-item {
    text-align: center;
}

.carousel-item > img {
    object-fit: contain;
}

.carousel-caption {
    z-index: 10000;
    position: relative;
    top: 0;
    left: 0;
    text-align: center;
}

.carousel-caption .rounded-pill {
    width: min-content;
}

.hero-svg path{
  stroke-dasharray: 0;
  stroke-dashoffset: 0;
}

.hero-svg path.animate {
  animation: pathDraw 10s ease forwards;
}

@keyframes pathDraw {
  to {
    stroke-dasharray: 1000;
    stroke-dashoffset: 0;
  }
}