<style>
    .fixed-header {
        position: fixed;
        top: -10%;
        left: 50%;
        transform: translateX(-50%);
        width: min-content;
        z-index: 10000;
    }

    .alert {
        white-space: nowrap;
        padding: 10px 100px 10px 100px;
        text-align: center;
    }
</style>

<div class="fixed-header" id="flask-message-header">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>
