{% extends "base.html" %}

{% block vendor_stylesheet %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">
<link href="https://fonts.cdnfonts.com/css/handwriting" rel="stylesheet">
{% endblock %}

{% block custom_stylesheet %}
<link rel="stylesheet" href="/static/css/dashboard.css">
<link rel="stylesheet" href="/static/css/list-quiz.css">
{% endblock %}


{% block content %}
<!-- Content -->

<header id="hero">
  <div class="hero-image"></div>
  <div class="overlay"></div>
  <div class="row container-fluid h-100 d-flex text-light justify-content-center align-items-center mx-0 pt-5">
    <div class="col-lg-8 col-md-10 col-sm-12 px-md-0 px-sm-0 text-center mt-5">
      <div class="h1 display-3" style="font-weight: 900" data-aos="fade-right" data-aos-duration="1000"
           data-aos-delay="1000">Penilaian
      </div>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb fw-semibold justify-content-center">
          <li class="breadcrumb-item d-inline-block" data-aos="zoom-in" data-aos-duration="1000"
              data-aos-delay="1000">
            <a href="/">
              Laman Utama
            </a>
          </li>
          <li class="breadcrumb-item active text-white" data-aos="zoom-in" data-aos-duration="1100"
              data-aos-delay="1000">
            Penilaian
          </li>
        </ol>
      </nav>
    </div>
  </div>
</header>


<main>
  <section class="my-5 mb-0 px-0">
    <header>
      <div class="section-title mb-3" data-aos="zoom-out" data-aos-duration="1100">Ujian yang disediakan oleh profesional kami</div>
      <div class="section-header" data-aos="zoom-out" data-aos-duration="1100">Cuba sendiri dengan pelbagai jenis ujian yang menarik.</div>
    </header>
    <div class="row g-0 section-content-quiz">
      <div class="col-lg-6 d-lg-flex d-md-none">
        <div class="our-content">
          <div class="text-white d-flex flex-column w-100 h-100 align-items-start justify-content-center"
               style="padding-left: 10%;">
            <div class="h1 fw-bold display-4 text-start"><span class="text-orange display-1 fw-bolder" data-aos="fade-right" data-aos-duration="1100">Uji</span> Minda
              <br> & <span
                    class="text-orange display-1 fw-bolder" data-aos="fade-right" data-aos-duration="1100">Cabar </span> Diri<br/> Anda
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-sm-12 swiper-container" data-aos="fade-right" data-aos-duration="1100">
        <div class="swiper mySwiper swiper-cards swiper-3d swiper-initialized swiper-horizontal swiper-watch-progress">
          <div class="swiper-wrapper" id="swiper-wrapper-afc739c3e0e1c01a" aria-live="polite">
            <div class="swiper-slide swiper-slide-visible swiper-slide-fully-visible swiper-slide-active bg-mi card"
                 role="group">
              <div class="p-5 card-body text-white d-flex flex-column align-items-start">
                <h1 class="fs-2 fw-bold mb-4">Ujian nilai perpuluhan</h1>
                <div class="text-start mb-3">Ujian ini direka untuk menilai dan menilai kefahaman serta kecekapan
                  dalam berurusan dengan
                  nombor perpuluhan. Peserta akan dihadapkan dengan
                  pelbagai senario dan latihan penyelesaian masalah yang memerlukan manipulasi, pengiraan, dan
                  penafsiran nombor perpuluhan.
                </div>
                <div class="border-bottom mb-4">
                  <input type="checkbox" class="form-check-input" onclick="return false;" checked>
                  Kad Kilat untuk cabaran diri sendiri
                </div>
                <div class="border-bottom mb-4">
                  <input type="checkbox" class="form-check-input" onclick="return false;" checked>
                  Soalan pilihan berganda dengan gambar
                </div>
                <div class="border-bottom mb-3">
                  <input type="checkbox" class="form-check-input" onclick="return false;" checked>
                  Permainan padanan untuk menguji ingatan
                </div>
                <img src="/static/images/pie.png" width="90" height="90" class="position-absolute"
                     style="bottom: 3%; left: 20%">
                <img src="/static/images/fraction.png" width="90" height="100" class="position-absolute"
                     style="bottom: 0; left: 50%">
                <a href="/quiz/1" class="btn btn-maroon rounded-circle p-3 paper-button" style="align-self: end">
                  <i class="bi bi-box-arrow-up-right"></i>
                </a>
              </div>
              <div class="swiper-slide-shadow swiper-slide-shadow-cards"></div>
            </div>
            <div class="swiper-slide swiper-slide-next bg-warning card" role="group">
              <div class="p-5 pe-4 card-body text-white d-flex flex-column align-items-start">
                <div class="row text-start">
                  <h1 class="fs-2 fw-bold mb-4">Ujian garis lurus</h1>
                  <div class="col-lg-6 order-1">
                    Ujian garis lulus adalah satu langkah yang kritis dalam menilai kecekapan dan pengetahuan
                    seseorang dalam sesuatu bidang. Ia memberi peluang kepada peserta ujian untuk membuktikan
                    kemahiran mereka serta memastikan mereka memenuhi syarat yang ditetapkan.
                  </div>
                  <div class="col-lg-6">
                    <div class="d-flex flex-column">
                      <img src="/static/images/graph.png" class="img-fluid mb-3">
                      <div class="border-end pe-2 mb-2">
                        <input type="checkbox" class="form-check-input" onclick="return false;" checked>
                        Kad Kilat untuk cabaran diri sendiri
                      </div>
                      <div class="border-end border-orange pe-2 mb-2">
                        <input type="checkbox" class="form-check-input" onclick="return false;" checked>
                        Soalan pilihan berganda dengan gambar
                      </div>
                      <div class="border-end pe-2">
                        <input type="checkbox" class="form-check-input" onclick="return false;" checked>
                        Permainan padanan untuk menguji ingatan
                      </div>
                      <a href="/quiz/2" class="btn btn-maroon rounded-circle p-3 paper-button" style="align-self: end">
                        <i class="bi bi-box-arrow-up-right"></i>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide-shadow swiper-slide-shadow-cards"></div>
              </div>
            </div>
            <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
        </div>
      </div>
    </div>
  </section>
  <section class="px-0" id="quizzes">
    <div class="bg-maroon py-5 my-5">
      <div class="container text-white text-start fw-bolder fs-1 ">
        Senarai Kuiz
      </div>
    </div>
    <div class="container">
      <div class="row pb-3 mb-3 gy-4">
        <div class="col-lg-3 order-lg-1 order-sm-0">
          <div class="card card-body d-flex flex-column position-sticky text-start" style="top:100px">
            <label for="search" class="form-label fs-5 text-orange">Cari</label>
            <div class="input-group">
              <span class="input-group-text bg-white"><i class="bi bi-search small"></i></span>
              <input type="search" id="search" class="form-control fuzzy-search rounded-1"
                     placeholder="Cari Kuiz">
            </div>
            <hr class="w-50"/>
            <div class="d-flex flex-column align-items-start">
              <div class="fs-5 text-orange mb-2">Penapis</div>
              <div class="ms-2 form-check form-check-inline mb-2">
                <input class="form-check-input" type="checkbox" id="chap-3" value="3" name="chapter" checked>
                <label class="form-check-label" for="chap-3">Bab 3</label>
              </div>
              <div class="ms-2 form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="chap-9" value="9" name="chapter" checked>
                <label class="form-check-label" for="chap-9">Bab 9</label>
              </div>
            </div>
            <hr class="w-75"/>
            <div class="d-flex flex-column mb-5">
              <label for="sort" class="form-label fs-5 text-orange">Susun</label>
              <div class="d-flex">
                <select class="form-select" id="sort">
                  <option value="" selected disabled>Susun</option>
                  <option value="date">Tarikh</option>
                  <option value="chapter">Bab</option>
                  <option value="title">Tajuk</option>
                </select>
                <button type="button" class="btn p-0 ms-3" id="btn-sort"><i class="bi bi-filter h4 text-orange"></i>
                </button>
              </div>
            </div>
            {% if user.role == 'teacher' %}
            <div class="card card-body">
              <div class="text-center text-decoration-underline text-orange mb-3">Menyokong Komuniti</div>
              <div class="mb-3 small text-muted">Tambahkan soalan anda di sini untuk menyumbang kepada komuniti ini yang
                dikhaskan untuk pembelajaran matematik pelajar yang pekak-bisum.
              </div>
              <a href="/add_quiz" class="btn btn-orange">Tambah Sekarang</a>
            </div>
            {% endif %}
          </div>
        </div>
        <div class="col-lg-9">
          <div class="row list gy-4" id="list">
            {% for quiz in quizzes %}
            <div class="col-lg-4 col-sm-6">
              <div class="card quiz-card bg-white border-white border-0 card-chap-{{ quiz.chapter }}">
                <div class="card-custom-img"></div>
                <div class="card-custom-avatar">
                  <img class="img-fluid bg-white"
                       src="/static/images/card-img-{% if quiz.chapter == 3 %}frac{% else %}line{% endif %}.png"
                       alt="Avatar"/>
                </div>
                <div class="card-body">
                  <h4 class="card-title d-flex align-items-end justify-content-between">
                    <span class="title fw-bold title">{{ quiz.title }}</span>
                    <span class="card-subtitle"><span>{% if quiz.chapter == 3%}Nilai Perpuluhan{% else %}Gasis Lulus{% endif %}</span></span>
                  </h4>
                  <div class="row border g-0 shadow-sm">
                    <div class="col-lg-8 p-2">
                      <div class="card-text d-flex flex-column text-white">
                        <span class="px-2 rounded-2 mb-1">Untuk bab <span
                              class="chapter">{{ quiz.chapter }}</span></span>
                        <span class="ms-4 px-2 rounded-2">{{ quiz.total_ques }} jumlah soalan</span>
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <a href="{{ url_for('view_quiz', id=quiz.id) }}"
                         class="btn d-flex justify-content-center align-items-center h-100 stretched-link">
                        <i class="text-white bi bi-cursor-fill fs-3"></i>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="card-footer d-flex justify-content-between align-items-center">
                  <div class="d-flex align-items-center">
                    <i class="bi bi-clock"></i>
                    <span class="ms-2 date">{{ quiz.date }}</span>
                  </div>
                  <div>
                    <img
                          src="{{ quiz.user_avatar }}"
                          class="img-fluid rounded-circle img-user" width="30" height="30">
                    <span class="ms-2 small"><a href="/profile/{{quiz.user_id}}" class="username text-decoration-underline z-3">{{ quiz.username }}</a></span>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
            {% if quizzes | length == 0 %}
            <div class="col-lg-4 col-sm-12">
              <div class="card card-body text-muted justify-content-center shadow" style="min-height: 200px;">
                Tidak ada kuiz yang tersedia untuk anda kunjungi pada masa ini.
              </div>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock %}

{% block vendor_script %}
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/list.js/2.3.1/list.min.js"></script>
<script src="https://unpkg.com/scrollreveal"></script>
{% endblock %}

{% block custom_script %}
<script src="/static/js/list-quiz.js"></script>
{% endblock %}