{% extends "base.html" %}

{% block custom_stylesheet %}
<link href="/static/css/dashboard.css" rel="stylesheet">
{% endblock %}

{% block content %}
<main data-barba="container" data-barba-namespace="home">
  <div class="container-fluid px-0">
    <div id="hero">
      <div class="hero-image"></div>
      <div class="overlay"></div>
      <div class="row container-fluid h-100 d-flex text-light justify-content-center align-content-center mx-0">
        <div class="col-lg-8 col-md-10 col-sm-12 px-md-0 px-sm-0">
          <div class="h1 display-1 fw-bold" data-aos="fade-up" data-aos-delay="1300">Belajar</div>
          <div class="h1 display-1 fw-bold text-orange" data-aos="fade-up" data-aos-delay="1500"> Matematik<span
                class="ms-2 h5 text-light">Meruntuhkan Halangan</span></div>
          <div class="lead" data-aos="fade-up" data-aos-delay="1800">
            Kami percaya bahawa pendidikan tidak mempunyai
            batasan. Misi kami adalah menjadikan dunia
            matematik dapat diakses oleh setiap pembelajar.
          </div>
        </div>
      </div>
    </div>
    <div class="hero-bottom">
      <a href="#resources-section" id="resources-link" class="btn btn-orange rounded-circle p-3">
        <div class="arrow-wrapper">
          <i class="bi bi-arrow-down h1"></i>
        </div>
      </a>
    </div>
  </div>

  <section class="container-fluid" id="resources-section">
    <div data-aos="fade-up" data-aos-duration="1000">
      <div class="section-title mb-3 w-100">Sumber Pembelajaran
        Kami
      </div>
      <div class="text-center section-header">Ciri Pembelajaran Yang Mudah
        Diakses Untuk Anda
      </div>
    </div>
    <div class="row gx-4">
      <div class="col-lg-4 col-sm-12" data-aos="fade-up" data-aos-duration="1000">
        <div class="card border-0 rounded-0">
          <div class="overflow-hidden">
            <img src="/static/images/note-resource.png" class="card-img-top rounded-0 resource-img" alt="note"
                 height="250">
          </div>
          <div class="card-body card-tab-container">
            <div class="card card-tab py-2 px-3 rounded-0 gap-3">
              <i class="h1 display-3 bi bi-journal-bookmark text-center text-orange"></i>
              <h4 class="text-center fw-lightbold mb-0">Nota Penting</h4>
              <p class="text-center small">
                Sebuah perpustakaan berdiri di sisi Anda, menawarkan nota penting untuk menyokong perjalanan
                matematik.</p>
              <a href="/list_note"
                 class="d-flex align-items-center justify-content-center align-self-end link-card-tab stretched-link">
                <i class="bi bi-link-45deg text-white h5 mb-0"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-12" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="250">
        <div class="card border-0 rounded-0">
          <div class="overflow-hidden">
            <img src="/static/images/quiz-resource.png" class="card-img-top rounded-0 resource-img" alt="quiz"
                 height="250">
          </div>
          <div class="card-body card-tab-container">
            <div class="card card-tab py-2 px-3 rounded-0 gap-3">
              <div><i class="h1 display-2 bi bi-pencil-square text-center text-orange"></i></div>
              <h4 class="text-center fw-lightbold mb-0">Kuiz & Latihan</h4>
              <p class="text-center small">
                Kuiz dan latihan matematik interaktif untuk meningkatkan kemahiran melalui sesi latihan yang
                dinamik.</p>
              <a href="/list_quiz"
                 class="d-flex align-items-center justify-content-center align-self-end link-card-tab stretched-link">
                <i class="bi bi-link-45deg text-white h5 mb-0"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-12" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="500">
        <div class="card border-0 rounded-0">
          <div class="overflow-hidden">
            <img src="/static/images/chat-resource.png" class="card-img-top rounded-0 resource-img" alt="quiz"
                 height="250">
          </div>
          <div class="card-body card-tab-container">
            <div class="card card-tab py-2 px-3 rounded-0 gap-3">
              <i class="h1 display-2 bi bi-clipboard2-pulse text-center text-orange"></i>
              <h4 class="text-center fw-lightbold mb-0">Memo</h4>
              <p class="text-center small">Dengan kemampuan menulis dan melukis secara langsung, pengguna dapat mengajar
                dengan interaktif.</p>
              <a href="/memo"
                 class="d-flex align-items-center justify-content-center align-self-end align-content-center link-card-tab stretched-link">
                <i class="bi bi-link-45deg text-white h5 mb-0"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="container-fluid">
    <div data-aos="fade-up" data-aos-duration="1000">
      <div class="section-title fw-lightbold mb-3 w-100">Tentang Kami</div>
      <h1 class="text-center section-header">Falsafah Di Sebalik Laman Web Kami</h1></div>
    <div class="row m-0" data-aos="zoom-in-right" data-aos-duration="1000">
      <div class="col-md-6" id="about-image">
      </div>
      <div class="col-md-6 py-md-5">
        <div class="p-md-5 p-sm-1" id="about-content" data-aos="fade-right" data-aos-duration="1000">
          <h1 class="mb-4">Kemajuan Tanpa Sempadan.</h1>
          <p class="text-muted small">Inisiatif Aplikasi "Silent Math Genius" ditubuhkan untuk memberdayakan pelajar
            sekolah
            menengah kurang upaya pendengaran dalam pembelajaran matematik. Platform dalam talian kami menyediakan
            sumber
            pendidikan, bahan interaktif, dan pangkalan data matematik yang diselaraskan dengan keperluan unik pelajar
            tersebut. </p>
          <p class="text-muted small">
            Dengan matlamat membina aplikasi pangkalan data yang memahami cara pembelajaran dan pilihan komunikasi
            pelajar, kami juga menyertakan bahan pengajaran yang terstruktur, latihan interaktif, dan penilaian. Fokus
            utama kami adalah memperkasa pelajar ini, membolehkan mereka memantau kemajuan dan mengakses bahan
            pembelajaran peribadi, membawa matematik kepada dunia tanpa suara secara holistik
          </p>
        </div>
      </div>
      <div class="row gx-0 mt-4 text-start" id="counter-container" data-aos="fade-up" data-aos-duration="1000"
           data-aos-id="counter">
        <div class="col-lg-3 col-md-6 col-sm-6 py-2 px-4 border-lg-end border-lg-bottom-0 border-md-end-0 border-md-bottom">
          <h1 class="fw-semibold display-5 mb-0 d-inline-block count" data-target="{{ total.teacher }}">0</h1>
          <h5 class="d-inline-block ms-3">Guru <br></br>Terdaftar</h5>
        </div>
        <div class="col-lg-3 col-sm-6 py-2 px-4  border-lg-end border-lg-bottom-0 border-md-end-0 border-md-bottom">
          <h1 class="fw-semibold display-5 mb-0 d-inline-block count" data-target="{{ total.student }}">0</h1>
          <h5 class="d-inline-block ms-3">Pelajar <br></br>Terdaftar</h5>
        </div>
        <div class="col-lg-3 col-sm-6 py-2 px-4 border-lg-end border-lg-bottom-0 border-md-end-0 border-md-bottom">
          <h1 class="fw-semibold display-5 mb-0 d-inline-block count" data-target="{{ total.note }}">0</h1>
          <h5 class="d-inline-block ms-3">Jumlah<br></br>Nota</h5>
        </div>
        <div class="col-lg-3 col-sm-6 py-2 px-4 border-lg-bottom-0 border-md-bottom">
          <h1 class="fw-semibold display-5 mb-0 d-inline-block count" data-target="{{ total.quiz }}">0</h1>
          <h5 class="d-inline-block ms-3">Jumlah <br></br>Kuiz</h5>
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock %}

{% block custom_script %}
<script defer src="/static/js/dashboard.js"></script>
{% endblock %}