{% extends "base.html" %}
{% block content %}
<div>
  <link href="/static/css/pd.css" rel="stylesheet" />
  <div class="dashboard-container">
  <div class="content-row">
    <div class="text-content">
      <h1 class="welcome-message">Belajar Matematik <br>Dengan Mudah!!!</h1>
      <p class="dashboard-description">
        MIni adalah platform khas bagi pelajar bisu pekak dan<br> mempunyai masalah pendengaran untuk mempelajari <br>matematik dengan mudah dan pantas!!!.
      </p>
      <div class="dashboard-buttons">
        <a href="/" class="dashboard-button">Daftar</a>
        <a href="/" class="dashboard-button">Log Masuk</a>
      </div>
    </div>
    <img src="/static/images/pdi.jpg" alt="Classroom scene" class="dashboard-image">
  </div>
</div>


{% endblock %}