{% extends "base.html" %}
{% block vendor_stylesheet %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">
{% endblock %}

{% block custom_stylesheet %}
<link rel="stylesheet" href="/static/css/dashboard.css">
<link rel="stylesheet" href="/static/css/quiz.css">
{% endblock %}

{% block content %}
<div class="container-fluid px-0 mb-5">
  <div id="hero">
    <div class="hero-image"></div>
    <div class="overlay"></div>
    <div class="row container-fluid h-100 d-flex text-light justify-content-center align-items-center mx-0 pt-5">
      <div class="col-lg-8 col-md-10 col-sm-12 px-md-0 px-sm-0 text-center mt-5">
        <div class="h1 display-3" style="font-weight: 900" data-aos="fade-right" data-aos-duration="1000"
             data-aos-delay="1000">Nota
        </div>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb fw-semibold justify-content-center">
            <li class="breadcrumb-item d-inline-block" data-aos="zoom-in" data-aos-duration="1000"
                data-aos-delay="1000"><a href="/"> Laman Utama </a></li>
            <li class="breadcrumb-item active text-white" data-aos="zoom-in" data-aos-duration="1100"
                data-aos-delay="1000">
              <a href="/list_quiz">
                Penilaian
              </a>
            </li>
            <li class="breadcrumb-item active text-white" data-aos="zoom-in" data-aos-duration="1200"
                data-aos-delay="1000"> Kuiz
            </li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>

<main>
  <div class="section-title mb-3">{{quiz.title}}</div>
  <div>
    <section class="position-relative" id="quiz-section">
      <div class="form-check form-switch d-flex justify-content-end mb-2 align-items-center">
        <input class="form-check-input" type="checkbox" role="switch" id="strict" checked>
        <label class="form-check-label mx-2 text-white fw-bold" for="strict">Mod Ketat
        </label>
        <i class="bi bi-info-circle-fill ms-2 text-white bi-hover-md" id="info-strict" data-bs-toggle="tooltip"
           data-bs-placement="top"
           title="Dalam mod ketat, jawapan tidak akan dipaparkan, hanya keputusan akhir yang akan ditunjukkan"></i>
      </div>
      <div class="swiper mySwiper shadow-lg">
        {% if user.role == 'student' %}
        {% endif %}
        <button type="submit" class="btn btn-orange" id="strict-submit">Hantar</button>
        <div class="swiper-wrapper">
          {% for question in quiz.questions %}
          <form class="swiper-slide">
            <div class="card h-100" style="max-height: min-content">
              {% if question.image_path != 'NULL' %}
              <img src="{{ url_for('request_file', folder='quiz', uploader_id=quiz.user_id, filename=question.image_path) }}"
                   class="py-3 card-img card-img-top border-bottom img-fluid object-fit-contain px-5"
                   style="min-height: 300px; height: 300px">
              {% else %}
              <div class="card-img card-img-top border-bottom d-flex justify-content-center align-items-center"
                   style="max-height: 300px; height: 300px">
                <div>Tiada imej untuk soalan ini</div>
              </div>
              {% endif %}
              <div class="card-body px-5 py-3 text-start">
                <div class="text-orange mb-2 text-decoration-underline fw-bold">Soalan {{ loop.index }}</div>
                <div class="fw-semibold">{{ question.question }}</div>
                <ol class="list-unstyled fw-semibold">
                  {% for option in question.options %}
                  <li class="ms-3 my-2">
                    <input required type="radio"
                           class="form-check-input {% if loop.index0 == question.answer  %}answer{% endif %}"
                           name="selection">
                    <label class="form-check-label ms-3  {% if loop.index0 == question.answer  %}answer{% endif %}"
                           style="font-size: 14px">{{ option }}</label>
                  </li>
                  {% endfor %}
                </ol>
              </div>
            </div>
          </form>
          {% endfor %}
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </section>
  </div>
</main>

<div class="modal fade" tabindex="-1" id="result-modal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-orange fw-bold">Keputusan Ujian</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">Dari <strong class="text-orange">{{ quiz.questions | length }}</strong>
          soalan, anda menjawab dengan betul pada <strong id="correct" class="text-orange"></strong> soalan.
        </div>
        <div class="mb-3">Markah keseluruhan: <strong class="text-orange" id="score"></strong></div>
        <div class="progress">
          <div class="progress-bar progress-bar-striped" role="progressbar" id="scorebar"
               aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-orange" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block vendor_script %}
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
{% endblock %}

{% block custom_script %}
<script src="/static/js/base.js"></script>
<script src="/static/js/quiz.js"></script>
{% endblock %}