<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Pembukaan Akaun</title>
   <link rel="stylesheet" href="../static/css/style.css">
   <link rel="icon" href="../static/images/logo.png">

   <!-- Google Fonts -->
   <link
      href="https://fonts.googleapis.com/css2?family=Acme&family=Grandstander&family=Lilita+One&family=Philosopher:wght@400;700&family=Titan+One&display=swap"
      rel="stylesheet">

</head>

<body>
   <div class="wrapper">
      <div class="title">
         Pembukaan Akaun
      </div>

      <!-- Inserted radio buttons -->

      <div class="radio-btn">

         <span>Daftar sebagai:</span>
         <label for="f-option" class="l-radio">
            <input type="radio" id="f-option" name="selector" tabindex="1">
            <p>Guru</p>
         </label>
         <label for="s-option" class="l-radio">
            <input type="radio" id="s-option" name="selector" tabindex="2">
            <p>Pelajar</p>
         </label>

      </div>
      <form action="#">
         <div class="field">
            <input type="text" required>
            <label>Nama</label>
         </div>
         <div class="field">
            <input type="text" required>
            <label>Emel</label>
         </div>
         <div class="field">
            <input type="password" required>
            <label>Kata Laluan</label>
         </div>
         <div class="field">
            <input type="password" required>
            <label>Pengesahan Kata Laluan</label>
         </div>


         <div class="field">
            <input type="submit" value="Daftar">
         </div>
         <div class="signup-link">
            Sudah ada akaun? <a href="../templates/login.html">Log masuk</a>
         </div>
      </form>
   </div>
</body>

</html>