{% extends "base.html" %}
{% block content %}
<div>
  <link href="/static/css/studentquizdashboard.css" rel="stylesheet" />
  <div class="home-container">
<!-- Header Section -->
<div class="header-section">
  <div class="header-title">
    <span class="home-text">Kuiz/Penilaian</span>
  </div>
  <div class="header-controls">
    <select class="home-select">
      <option value="Perpuluhan">Perpuluhan</option>
      <!-- More options -->
    </select>
    <div class="progress-bar-container select-progress-bar">
      <div class="progress-bar" style="width: 60%;"></div>
      <span class="select-progress-text">60%</span>
    </div>
  </div>
</div>

    <!-- Quizzes Display -->
    <div class="home-steps">
      <div class="home-container3">
        <!-- Quiz Card 1 -->
        <div class="home-step">
          <img src="/static/images/number1.jpg" alt="Chapter 1" class="chapter-image" /> <!-- Adjust the path as necessary -->
          <h1 class="home-text04">Bab 1: Satu</h1>
          <span class="home-text05">25 soalan</span>
          <div class="w3-light-orange w3-round-xlarge">
  <div class="w3-container w3-yellow w3-round-xlarge" style="width: 100%;">100%</div>
</div>
        </div>
        <!-- Quiz Card 2 -->
        <div class="home-step">
          <img src="/static/images/number2.jpg" alt="Chapter 2" class="chapter-image" /> <!-- Adjust the path as necessary -->
          <h1 class="home-text04">Bab 2: Puluh</h1>
          <span class="home-text05">25 soalan</span>
          <div class="w3-light-orange w3-round-xlarge">
            <div class="w3-container w3-yellow w3-round-xlarge" style="width:91%">91%</div>
          </div>
        </div>
           <!-- Quiz Card 3 -->
        <div class="home-step">
          <img src="/static/images/number1.jpg" alt="Chapter 3" class="chapter-image" /> <!-- Adjust the path as necessary -->
          <h1 class="home-text04">Bab 3: Ratus</h1>
          <span class="home-text05">25 soalan</span>
          <div class="w3-light-orange w3-round-xlarge">
            <div class="w3-container w3-yellow w3-round-xlarge" style="width:91%">50%</div>
          </div>
        </div>

        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
