{% extends "base.html" %}
{% block content %}
<div class="quiz-container">
  <link href="/static/css/sq.css" rel="stylesheet" />
    <h1 class="quiz-title">Kuiz/Penilaian</h1>
    
    <!-- Quiz Card 1 -->
    <div class="quiz-card">
        <div class="quiz-info">25 Soalan</div>
        <div class="quiz-number">1 3</div>
        <div class="quiz-chapter">Bab 1: Sa</div>
        <div class="quiz-score">100%</div>
    </div>
    
    <!-- Quiz Card 2 -->
    <div class="quiz-card">
        <div class="quiz-info">25 Soalan</div>
        <div class="quiz-number">0 4 6 8</div>
        <div class="quiz-chapter">Bab 2: Puluh</div>
        <div class="quiz-score">91%</div>
    </div>
</div>
{% endblock %}

