{% extends "base.html" %}
{% block content %}
<div>
  <link href="/static/css/sd.css" rel="stylesheet" />
  <div class="dashboard-container">
  <div class="content-row">
    <div class="text-content">
      <h1 class="welcome-message">Selamat datang, Kar Min~</h1>
      <p class="dashboard-description">
        Mulai perjalanan anda dengan SMARTIGER~<br>
        Sebarang pertanyaan boleh menghubungi guru-guru yang sedia ada~<br>
        Mari kita mulakan!!!
      </p>
      <div class="dashboard-buttons">
        <a href="/" class="dashboard-button">Nota</a>
        <a href="/studentquizdashboard" class="dashboard-button">Quiz/Penilaian</a>
        <a href="/" class="dashboard-button">Hubungi Guru</a>
      </div>
    </div>
    <img src="/static/images/image.png" alt="Classroom scene" class="dashboard-image">
  </div>
</div>


{% endblock %}