{% extends "base.html" %}
{% block content %}
<div>
  <link href="/static/css/td.css" rel="stylesheet" />
  <div class="dashboard-container">
  <div class="content-row">
    <div class="text-content">
      <h1 class="welcome-message">Selamat datang,<br> Cikgu~</h1>
      <p class="dashboard-description">
        SMARTIGER~<br>
        Platform khas membantu pelajar kurang upaya untuk belajar dengan~<br>
        seronok!!!
      </p>
      <div class="dashboard-buttons">
        <a href="#" class="dashboard-button">Sunting Nota</a>
        <a href="/teacherquizdashboard" class="dashboard-button">Kuiz/Penilaian</a>
        <a href="#" class="dashboard-button">Hubungi Murid</a>
      </div>
    </div>
    <img src="/static/images/image2.jpg" alt="Classroom scene" class="dashboard-image">
  </div>
</div>


{% endblock %}